# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo

# Streamlit
.streamlit/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large files
*.pdf
*.docx
*.pptx

# Ollama
models/